---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Guías">
  <main class="container mx-auto px-4 py-12">
    <div class="text-center">
      <h1 class="text-4xl md:text-5xl font-extrabold text-gray-900 mb-4">Guías</h1>
      <p class="text-lg text-gray-600">Próximamente guías brutales...</p>
    </div>
  </main>
</Layout>