---
import Layout from '../layouts/Layout.astro';
import PokeMemoryGame from '../components/PokeMemoryGame.jsx';
---

<Layout title="Juego de Memoria Pokémon">
  <main class="container mx-auto px-4 pt-8 pb-24 text-center">
    <h1 class="text-4xl font-bold mb-4 text-slate-800">Juego de Memoria Pokémon</h1>
    <PokeMemoryGame client:load />
  </main>
</Layout>