---
import Layout from '../../layouts/Layout.astro';
import ProductCard from '../../components/Shop/ProductCard.astro';
import products from '../../data/products.json';
---

<Layout title="Tienda">
  <main class="container mx-auto px-4 py-12">
    <h1 class="text-4xl font-extrabold text-gray-900 mb-10 text-center">Nuestra Tienda</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
      {products.map(product => (
        <ProductCard product={product} />
      ))}
    </div>
  </main>
</Layout>
